@import "../../styles.css";

.heroContainer {
  height: 40.375rem;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.9) 16.58%,
      rgba(255, 255, 255, 0) 72.38%
    ),
    url("../../../public/hero.jpg") center / cover no-repeat lightgray;
  display: flex;
  align-items: center;
  padding-left: 7rem;
}

.textContainer {
  font-size: 4.5rem;
  font-weight: 600;
  width: 34.75rem;
  color: var(--neutral-800);
}

@media (max-width: 900px) {
  .heroContainer {
    height: 18.75rem;
    padding-left: 3.125rem;
  }

  .textContainer {
    font-size: 3.125rem;
    width: 25rem;
  }
}
