.statsContainer {
  display: flex;
  /* padding: 6.4375rem 8.5625rem 12.5rem 16.25rem; */
  padding: 6.4375rem 10dvw 12.5rem 18dvw;
  justify-content: space-between;
}

.statInfo {
  width: 22.4375rem;
  padding-top: 3.125rem;
}

.statInfo h1 {
  font-size: 3.75rem;
  text-align: left;
  color: var(--primary);
}

.statInfoText {
  color: var(--neutral-600);
  width: 20.625rem;
  padding-top: 2.5rem;
  padding-bottom: 4.1875rem;
}

.statInfo a {
  display: flex;
  width: 11rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.125rem;
  background: var(--primary);
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.statCardsContainer {
  /* margin-right: auto; */
  padding-left: 13.25rem;
}

@media (max-width: 1190px) {
  .statsContainer {
    padding-right: 1.25rem;
  }

  .statCardsContainer {
    padding-left: 22.5rem;
  }
  .statInfo {
    display: none;
  }
}

@media (max-width: 800px) {
  .statCardsContainer {
    padding-left: 13.75rem;
  }
}

@media (max-width: 35.9375rem) {
  .statCardsContainer {
    padding-left: 9.375rem;
  }
}

@media (max-width: 28.125rem) {
  .statCardsContainer {
    padding-left: 10.625rem;
  }
}
@media (max-width: 26.25rem) {
  .statCardsContainer {
    padding-left: 8.625rem;
  }
}
