@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.99);
  height: 60px;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 100%;
  padding: 0;
  animation: slideIn 0.3s ease;
}

/* .sticky img {
  height: 30px;
}

.sticky div span {
  font-size: 25px;
}
.sticky nav ul li a {
  font-size: 90% !important;
} */
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 112px;
  transition: box-shadow 0.3s ease;
}
