.serviceCardContainer {
  display: flex;
  width: 271px;
  height: 181px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
}

.dark {
  background: var(--primary);
  color: #fff;
  font-weight: 600;
}

.light {
  background: #fff;
  color: var(--primary);
  font-weight: 600;
}

.icon {
  height: 40px;
}

.rectangle {
  width: 60px;
  height: 2px;
  flex-shrink: 0;
  background: var(--neutral-100);
}

@media (max-width: 900px) {
  .serviceCardContainer {
    height: 115px;
    width: 191px;
    padding: 10px;
    gap: 10px;
    font-size: 17px;
  }

  .icon {
    height: 35px;
  }

  .rectangle {
    width: 45px;
  }
}

@media (max-width: 470px) {
  .serviceCardContainer {
    height: 90px;
    width: 160px;
    padding: 7px;
    gap: 7ps;
    font-size: 15px;
  }

  .icon {
    height: 30px;
  }
}
