.projectCardImageContainer {
  /* added margin top for live carousel */
  margin-top: 20px;
}

.projectCardTextContainer {
  background: var(--primary);
  display: flex;
  padding: 12px 12px 16px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  color: #fff;
}

.projectCardTextContainer h2 {
  font-size: 20px;
}

.projectCardText {
  font-size: 18px;
}

@media (max-width: 1440px) {
  .projectCardImageContainer img,
  .projectCardImageContainer {
    width: 320px;
    /* padding: 0; */
  }
  /* .projectCardImageContainer {
    height: 140px;
    width: 277px;
  } */

  .projectCardTextContainer {
    padding: 6px 6px 8px 6px;
    width: 320px;
    /* gap: 0; */
  }

  .projectCardTextContainer h2 {
    font-size: 18px;
  }

  .projectCardText {
    font-size: 15px;
  }
}

@media (max-width: 840px) {
}
@media (max-width: 805px) {
  .projectCardImageContainer img,
  .projectCardImageContainer {
    width: 140px;
    /* padding: 0; */
  }

  .projectCardText {
    display: none;
  }

  .projectCardTextContainer {
    padding: 6px 6px 8px 6px;
    width: 140px;
    /* gap: 0; */
  }

  .projectCardTextContainer h2 {
    font-size: 11px;
    font-weight: 500;
  }
}
