@import "../../styles.css";

.logoContainer {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.textContainer {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: var(--primary);
}

.box {
  font-style: normal;
}
