.reasonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 84px;
  flex-direction: column;
}

.reasonsContainer h1 {
  padding-bottom: 50px;
}

.reputationCardsContainer {
  display: flex;
  max-width: 1008px;
  width: 96%;
  /* column-gap: 66px; */
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 930px) {
  .reputationCardsContainer {
    max-width: 700px;
    flex-wrap: wrap;
    gap: 5px;
  }
}
@media (max-width: 655px) {
  .reputationCardsContainer {
    justify-content: center;
    gap: 10px;
  }
}
