.footer {
  background-color: var(--primary);
  display: flex;
  height: 4.375rem;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 7rem 0 7rem;

  /* Caption */
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 0.6875rem;
  row-gap: 0.3125rem;
  color: rgba(255, 255, 255, 0.7);
}

.footerRight a {
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 1250px) {
  .footer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (max-width: 1030px) {
  .footerRight {
    font-size: 0.5625rem;
  }

  .footerLeft {
    font-size: 0.875rem;
  }
}

@media (max-width: 630px) {
  .footer {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 0.625rem;
  }

  .footerRight {
    align-items: start;
  }
}
