.bottomContainer {
  padding: 5.3125rem 7rem 5.1875rem 7rem;
  display: flex;
  justify-content: space-between;
}

.bottomContainerHalf {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 29.3125rem;
}

.textContainer {
  display: flex;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.label {
  color: var(--primary);
  display: block;
  width: 5.6875rem;
  font-size: 1.25rem;
  font-weight: 500;
  font-variant: all-small-caps; /* not working, do not have all small caps variant */
}

.form {
  padding-bottom: 0.625rem;
}

.input {
  width: 65%;
  padding: 0.625rem 0.5rem;
  gap: 0.625rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--neutral-100);
  background: #fff;
  color: var(--neutral-300);

  font-family: Work Sans;
  font-size: 1.125rem;
}

.button {
  margin-left: 0.5rem;
  width: 30%;
  height: 2.5625rem;
  border-radius: 0.25rem;
  background: var(--secondary);
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
}

.socialContainer {
  display: flex;
  column-gap: 1.25rem;
}

.text {
  display: flex;
  align-items: center;
}

@media (max-width: 78.125rem) {
  .bottomContainer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (max-width: 64.375rem) {
  .bottomContainerHalf {
    width: 18.75rem;
    font-size: 0.8125rem;
    row-gap: 1.875rem;
  }

  .label {
    font-size: 0.9375rem;
    width: 4.625rem;
  }

  .input {
    font-size: 0.875rem;
  }

  .button {
    font-size: 0.875rem;
  }
}

@media (max-width: 39.375rem) {
  .bottomContainer {
    flex-direction: column-reverse;
    row-gap: 4.375rem;
  }
}
