.projectsContainer {
  padding: 88px 112px 138px 112px;
}

.projectsContainer h1 {
  text-align: left;
}

.projectsContentContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  width: 100%;
}

.projectsList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.projectsListItemButton {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

.selector {
  width: 4px;
  height: 28px;
}

.isSelectedSelector {
  background: var(--primary);
}

.span {
  color: var(--neutral-200);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-left: 16px;
}

.isSelectedSpan {
  color: var(--primary);
}

.projectsCarouselContainer {
  /* display: flex; */
  /* gap: 32px; */
  width: 800px;
  position: relative;
}

.sliderControlsContainer {
  padding-top: 32px;
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
}

.sliderBackButton,
.sliderNextButton {
  background: var(--neutral-800);
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  width: 295px;
  height: 64px;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  position: absolute;
  top: 108.65%;
  transform: translateY(-50%);
}

.sliderNextButton {
  margin-left: 505px;
}

.sliderIconContainer {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.sliderIcon {
  height: 16px;
  width: 16px;
  border-radius: 999px;
  background-color: var(--neutral-50);
  margin-top: 55px;
  transition: 0.1s ease;
}

.sliderIcon:hover {
  background-color: var(--neutral-200);
}

.sliderIconFilled {
  background-color: var(--primary);
}
