.projectsContainer {
  padding: 5.5rem 7rem 14.5rem 7rem;
  width: 90rem;
}

.projectsOuterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectsContainer h1 {
  text-align: left;
}

.projectsContentContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  width: 100%;
}

.projectsList {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  position: sticky;
  top: 5.3125rem;
}

.projectsListItemButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.selector {
  width: 0.25rem;
  height: 1.75rem;
}

.isSelectedSelector {
  background: var(--primary);
}

.span {
  color: var(--neutral-200);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 1rem;
}

.isSelectedSpan {
  color: var(--primary);
}

.projectsCarouselContainer {
  /* display: flex; */
  /* gap: 2rem; */
  width: 50rem;
  position: relative;
  margin-top: -0.75rem;
  /* original spacing */
  /* margin-top: -2rem; */
}

.sliderControlsContainer {
  padding-top: 2rem;
  display: flex;
  width: 50rem;
  justify-content: space-between;
  align-items: center;
}

.sliderBackButton,
.sliderNextButton {
  background: var(--neutral-800);
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  width: 18.4375rem;
  height: 4rem;
  padding: 0.25rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  position: absolute;
  top: 108.65%;
  transform: translateY(-50%);
  transition: 0.1s ease;
}

.sliderBackButton:hover,
.sliderNextButton:hover {
  background-color: var(--neutral-900);
}

.sliderNextButton {
  margin-left: 31.5625rem;
}

.sliderIconContainer {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.sliderIcon {
  height: 1rem;
  width: 1rem;
  border-radius: 62.4375rem;
  background-color: var(--neutral-100);
  margin-top: 3.4375rem;
  transition: 0.1s ease;
}

.sliderIcon:hover {
  background-color: var(--neutral-200);
}

.sliderIconFilled {
  background-color: var(--primary);
}

.selector,
.span {
  transition: 0.2s ease;
}

.projectsListItemButton:hover .selector {
  background-color: var(--neutral-300);
}

.projectsListItemButton:hover .span {
  color: var(--neutral-300);
}

.projectsListItemButton:hover .isSelectedSelector {
  background-color: var(--primary);
}

.projectsListItemButton:hover .isSelectedSpan {
  color: var(--primary);
}

@media (max-width: 1440px) {
  .projectsCarouselContainer {
    width: 40.625rem;
  }
  .sliderBackButton,
  .sliderNextButton {
    width: 13.125rem;
  }
  .sliderNextButton {
    margin-left: 27.5rem;
  }

  .sliderIcon {
    margin-top: 2.5625rem;
  }
}

@media (max-width: 1080px) {
  .projectsContainer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .span {
    font-size: 1.25rem;
    padding-left: 0.625rem;
  }
}

@media (max-width: 845px) {
  .projectsContainer {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .span {
    font-size: 0.9375rem;
    padding-left: 0.5rem;
  }

  .selector {
    height: 1.25rem;
    width: 0.25rem;
  }
}

@media (max-width: 805px) {
  .projectsCarouselContainer {
    width: 18.75rem;
  }

  .sliderBackButton,
  .sliderNextButton {
    display: none;
  }
}

@media (max-width: 650px) {
  .projectsContainer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (max-width: 480px) {
  .span {
    padding-left: 0rem;
    font-size: 0.875rem;
    font-weight: 400;
  }

  .selector {
    display: none;
  }

  .projectsContainer {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .projectsList {
    flex-direction: row;
  }

  .projectsContentContainer {
    flex-direction: column;
    row-gap: 1.25rem;
    align-items: center;
  }
}
