.projectsContainer {
  padding: 88px 112px 232px 112px;
  width: 1440px;
}

.projectsOuterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectsContainer h1 {
  text-align: left;
}

.projectsContentContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  width: 100%;
}

.projectsList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: sticky;
  top: 85px;
}

.projectsListItemButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.selector {
  width: 4px;
  height: 28px;
}

.isSelectedSelector {
  background: var(--primary);
}

.span {
  color: var(--neutral-200);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-left: 16px;
}

.isSelectedSpan {
  color: var(--primary);
}

.projectsCarouselContainer {
  /* display: flex; */
  /* gap: 32px; */
  width: 800px;
  position: relative;
  margin-top: -12px;
  /* original spacing */
  /* margin-top: -32px; */
}

.sliderControlsContainer {
  padding-top: 32px;
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
}

.sliderBackButton,
.sliderNextButton {
  background: var(--neutral-800);
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  width: 295px;
  height: 64px;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  position: absolute;
  top: 108.65%;
  transform: translateY(-50%);
  transition: 0.1s ease;
}

.sliderBackButton:hover,
.sliderNextButton:hover {
  background-color: var(--neutral-900);
}

.sliderNextButton {
  margin-left: 505px;
}

.sliderIconContainer {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.sliderIcon {
  height: 16px;
  width: 16px;
  border-radius: 999px;
  background-color: var(--neutral-100);
  margin-top: 55px;
  transition: 0.1s ease;
}

.sliderIcon:hover {
  background-color: var(--neutral-200);
}

.sliderIconFilled {
  background-color: var(--primary);
}

.selector,
.span {
  transition: 0.2s ease;
}

.projectsListItemButton:hover .selector {
  background-color: var(--neutral-300);
}

.projectsListItemButton:hover .span {
  color: var(--neutral-300);
}

.projectsListItemButton:hover .isSelectedSelector {
  background-color: var(--primary);
}

.projectsListItemButton:hover .isSelectedSpan {
  color: var(--primary);
}

@media (max-width: 1440px) {
  .projectsCarouselContainer {
    width: 650px;
  }
  .sliderBackButton,
  .sliderNextButton {
    width: 210px;
  }
  .sliderNextButton {
    margin-left: 440px;
  }

  .sliderIcon {
    margin-top: 41px;
  }
}

@media (max-width: 1080px) {
  .projectsContainer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .span {
    font-size: 20px;
    padding-left: 10px;
  }
}

@media (max-width: 845px) {
  .projectsContainer {
    padding-left: 112px;
    padding-right: 112px;
  }

  .span {
    font-size: 15px;
    padding-left: 8px;
  }

  .selector {
    height: 20px;
    width: 4px;
  }
}

@media (max-width: 805px) {
  .projectsCarouselContainer {
    width: 300px;
  }

  .sliderBackButton,
  .sliderNextButton {
    display: none;
  }
}

@media (max-width: 650px) {
  .projectsContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .span {
    padding-left: 0px;
    font-size: 14px;
    font-weight: 400;
  }

  .selector {
    display: none;
  }

  .projectsContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
