.servicesContainer {
  background-color: var(--neutral-50);
  padding: 2.75rem 1.25rem 4.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviceCardContainer {
  padding-top: 2.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 6.125rem;
  row-gap: 3rem;
  max-width: 68.75rem;
  /* padding: 0 12.5rem 0 12.5rem; */
  /* max-width: 88.0625rem; */
}

@media (max-width: 1100px) {
  .serviceCardContainer {
    column-gap: 3dvw;
    row-gap: 2dvh;
  }
}

@media (max-width: 400px) {
  .servicesContainer {
    padding: 2.75rem 0.3125rem 4.75rem 0.3125rem;
  }
}
