.aboutUsContainer {
  color: #fff;
  position: relative;
  padding-top: 4.625rem;
  padding-bottom: 12.625rem;
  height: 59.0625rem;
}

.aboutUsOuterContainer {
  padding: 0 6.5dvw;
}

.aboutUsInfoContainer h1 {
  color: #fff;
  text-align: left;
}

.aboutUsInfoContainer {
  width: 30.5rem;
  height: 32.6875rem;
  flex-shrink: 0;
  border-radius: 0.125rem;
  background: var(--primary);
  box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(17, 24, 39, 0.04),
    0rem 1.25rem 1.5rem -0.25rem rgba(17, 24, 39, 0.1);
  padding-left: 2.5rem;
  padding-top: 3.125rem;
  left: 51.25rem;
  top: 8.4375rem;
  position: absolute;
}

.aboutUsTextContainer {
  width: 24.25rem;
  margin-bottom: 4.625rem;
  margin-top: 2.3125rem;
}

.aboutUsButton {
  display: inline-flex;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.375rem;
  border: none;
  background: #fff;
  color: var(--primary);
  text-align: center;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.imageContainer {
  position: absolute;
}

.image {
  width: 56.375rem;
}

@media (max-width: 1450px) {
  .aboutUsOuterContainer {
    padding-left: 0.625rem;
  }
}
@media (max-width: 1350px) {
  .aboutUsOuterContainer {
    padding-left: 5.5dvw;
  }
  .image {
    width: 43.75rem;
  }

  .aboutUsInfoContainer {
    width: 18.75rem;
    height: 21.9375rem;
    left: 37.5rem;
    padding-top: 1.25rem;
    padding-left: 1.5625rem;
  }

  .aboutUsTextContainer {
    width: 15.625rem;
    font-size: 0.9375rem;
    margin-top: 0.9375rem;
    margin-bottom: 1.875rem;
  }

  .aboutUsInfoContainer h1 {
    font-size: 1.5625rem;
  }

  .aboutUsButton {
    font-size: 0.9375rem;
    padding: 0.625rem 0.75rem;
  }

  .aboutUsContainer {
    height: 47.5rem;
  }
}

@media (max-width: 970px) {
  .aboutUsOuterContainer {
    padding-left: 0.625rem;
  }
}

@media (max-width: 940px) {
  .aboutUsOuterContainer {
    padding-left: 5.5dvw;
    height: 37.5rem;
  }
  .image {
    /* width: 31.25rem; */
    width: 56dvw;
  }

  .aboutUsInfoContainer {
    /* left: 23.75rem; */
    left: 45dvw;
  }
}

@media (max-width: 655px) {
  .aboutUsInfoContainer {
    width: 12.5rem;
    height: 15.6875rem;
    left: 37.5rem;
    padding-top: 0.625rem;
    padding-left: 0.9375rem;
    left: 45dvw;
  }

  .aboutUsInfoContainer h1 {
    font-size: 1.25rem;
  }

  .aboutUsTextContainer {
    width: 9.375rem;
    font-size: 0.75rem;
    margin-top: 0.75rem;
  }

  .aboutUsButton {
    display: none;
  }
}

@media (max-width: 460px) {
  .aboutUsInfoContainer {
    left: 40dvw;
  }
}
