.aboutUsContainer {
  color: #fff;
  position: relative;
  padding-top: 74px;
  padding-bottom: 202px;
  height: 945px;
}

.aboutUsOuterContainer {
  padding: 0 6.5dvw;
}

.aboutUsInfoContainer h1 {
  color: #fff;
  text-align: left;
}

.aboutUsInfoContainer {
  width: 488px;
  height: 523px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--primary);
  box-shadow: 0px 8px 8px -4px rgba(17, 24, 39, 0.04),
    0px 20px 24px -4px rgba(17, 24, 39, 0.1);
  padding-left: 40px;
  padding-top: 50px;
  left: 820px;
  top: 135px;
  position: absolute;
}

.aboutUsTextContainer {
  width: 388px;
  margin-bottom: 74px;
  margin-top: 37px;
}

.aboutUsButton {
  display: inline-flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: none;
  background: #fff;
  color: var(--primary);
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.imageContainer {
  position: absolute;
}

.image {
  width: 902px;
}

@media (max-width: 1450px) {
  .aboutUsOuterContainer {
    padding-left: 10px;
  }
}
@media (max-width: 1350px) {
  .aboutUsOuterContainer {
    padding-left: 5.5dvw;
  }
  .image {
    width: 700px;
  }

  .aboutUsInfoContainer {
    width: 300px;
    height: 351px;
    left: 600px;
    padding-top: 20px;
    padding-left: 25px;
  }

  .aboutUsTextContainer {
    width: 250px;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .aboutUsInfoContainer h1 {
    font-size: 25px;
  }

  .aboutUsButton {
    font-size: 15px;
    padding: 10px 12px;
  }

  .aboutUsContainer {
    height: 760px;
  }
}

@media (max-width: 970px) {
  .aboutUsOuterContainer {
    padding-left: 10px;
  }
}

@media (max-width: 940px) {
  .aboutUsOuterContainer {
    padding-left: 5.5dvw;
    height: 600px;
  }
  .image {
    /* width: 500px; */
    width: 56dvw;
  }

  .aboutUsInfoContainer {
    /* left: 380px; */
    left: 45dvw;
  }
}

@media (max-width: 655px) {
  .aboutUsInfoContainer {
    width: 200px;
    height: 251px;
    left: 600px;
    padding-top: 10px;
    padding-left: 15px;
    left: 45dvw;
  }

  .aboutUsInfoContainer h1 {
    font-size: 20px;
  }

  .aboutUsTextContainer {
    width: 150px;
    font-size: 12px;
    margin-top: 12px;
  }

  .aboutUsButton {
    display: none;
  }
}

@media (max-width: 460px) {
  .aboutUsInfoContainer {
    left: 40dvw;
  }
}
