@import "../../styles.css";

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.navULContainer {
  display: flex;
  column-gap: 50px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}

.link {
  color: var(--neutral-900);
  cursor: pointer;
}

.empLink {
  color: var(--secondary);
  font-weight: 600;
  cursor: pointer;
}

.burgerMenuContainer {
  /* max-width: 100px; */
  padding-right: 16px;
  position: sticky;
}

@media (max-width: 900px) {
  .navULContainer {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -20px;
    background-color: #fff;
    height: 350px;
    width: 50dvw;
    row-gap: 25px;
    padding-top: 83px;
    padding-left: 30px;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: -1;
    animation: slideIn 0.3s ease;
    font-size: 150%;
  }
}
